{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="/css/outils.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="nom">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <div class="container-fluid text">
            {% for row in applications|batch(3, 'No application') %}
                <div class="row ">
                    {% for application in row %}
                    <div class="col-12 col-xl-4 test">
                        <a class="mld" href="{{ application.lien }}" target="_blank">{{ application.nom }}</a>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {# <div class="container-fluid text">
            <div class="row button_conainer">
                <div class="col-12 col-xl-12 mdr">
                    <a id="pix" class="mld" href="/Pixiu.rdp" target="_blank" onclick="open_pix()">Télécharger Pixiu</a>
                </div>
                <div>
                <h1>Vous venez de téléchargé PIXIU il se trouve dans votre fichier de téléchargement</h1>
                <button id="close" onclick="close_pix()">Fermer</button>
                </div>
            
            </div>
        </div> #}
        <a id="open" class="open" href="/Pixiu.rdp"> Télécharger Pixiu </a>
        <div id="overlay" class="overlay">
            <h1>Vous venez de Téléchargé PIXIU, il se trouve dans votre dossier de Téléchargement.</h1>
            <a id="close" class="close">Fermer</a>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="/js/Pixiu.js">
</script>
{% endblock %}