{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="/css/outils.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="nom">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <div class="container-fluid text">
            <div class="row ">
                <div class="col-12 col-xl-4">
                    <a class="mld" href="https://portail.i-milo.fr/login" target="_blank">I milo</a>
                </div>
                <div class="col-12 col-xl-4">
                    <a class="mld" href="http://mld.planiweb.com/cgi-bin/acces.pl" target="_blank">Planiweb</a>
                </div>
                <div class="col-12 col-xl-4">
                    <a class="mld" href="http://109.190.3.49/dida_mldouai2/" target="_blank">DIDA</a>
                </div>
            </div>
        </div>


        <div class="container-fluid text">
            <div class="row">
                <div class="col-12 col-xl-4 mdr">
                    <a class="mld" href="https://www.portail-emploi.fr/portail-tap/mireconnexion" target="_blank">DUDE</a>
                </div>
                <div class="col-12 col-xl-4 ">
                    <a class="mld" href="https://www.label-cv.fr/espace-prive/login/" target="_blank">CV-thèque</a>
                </div>
                <div class="col-12 col-xl-4">
                    <a class="mld" href="https://login.microsoftonline.com/common/oauth2/authorize?client_id=4345a7b9-9a63-4910-a426-35363201d503&response_mode=form_post&response_type=code+id_token&scope=openid+profile&state=OpenIdConnect.AuthenticationProperties%3d4bnVZq5Nd3UdO_MA6ADd-bgoQzdnRYLIwxyfQAfhW-GZ9WwkfVAq-y4FtUppplZkp335SBEnColVPko_JUDURbjRfOMZh2SQmxaCadcw3p5uUOsRis8LJp6yD3cDa95C&nonce=636884983893176201.NjdhNjk0ZGEtMzkyNC00NTU0LWE2NjMtMTZkNzJiMzg3NjVkZDI1YTEzY2MtYjI1Ny00OGJjLThiNmQtNThkYjAxNzUxMDAz&redirect_uri=https%3a%2f%2fwww.office.com%2f&ui_locales=fr&mkt=fr&client-request-id=a20072f0-1abf-4fc3-937a-68a4c7944b14" target="_blank">
                        Office 365</a>
                </div>
            </div>
        </div>
        <div class="container-fluid text">
            <div class="row">
                <div class="col-12 col-xl-12 mdr">
                    <a class="mld" href="./Pixiu.rdp" target="_blank">Pixiu</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
