<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link href="/css/navbar.css" rel="stylesheet">
        <script type="text/javascript" src="/js/pix.js"></script>
        <title>
            {% block title %}Intranet
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
{% if is_granted('ROLE_USER') %}        
<nav class="main-navigation">
            <div class="navbar-header animated fadeInUp">
                <a class="navbar-brand" href="#">
                    <img alt="Logo Mission Local Douaisis" class="logo" height="60px" src="/img/logo-ML-quadri.png" width="127px">
                </a>
            </div>
            <ul class="nav-list">  
            {% endif %}  
    {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-list-item">
                    <a class="nav-link" href="/admin">Administration</a>
                </li>
    {% endif %}
    {% if is_granted('ROLE_EDITOR') %}   
                <li class="nav-list-item">
                    <a class="nav-link" href="{{path('security_registration')}}">Inscription</a>
                </li>
    {% endif %}
    {% if is_granted('ROLE_USER') %}

                <li class="nav-list-item">
                    <a class="nav-link" href="{{path('security_outils')}}">Les Outils</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="/logout">Déconnexion</a>
                </li>
            </ul>
        </nav>
{% endif %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
